# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD+AhnvJ1BMM0jFCAKSH+NCST+wpz2zwXySiBHN8tZ4kui3ozf//OeBnnGZMOFLurXrzAtll+EE5j+A/iLcT5KIwI4aOgzeVzN5SvOZg5bFfbcR+hCDSiKqgaX+EI5UepBqMyzKwmOVW55R1kbTHiNLkG+tt1v+eABvhR1TauI/33u1pteusVpZ15CcrPZ/NBuxslA2Vji+G7QspiN0ZkQupA8Kr2zBInDrA/Q++bEEoQgYUlBB51jDcpoxGPv4MrV5IDCPe5K6b8GsiXCRzNK8KtXVMlwWl7KpGmkS/91mcdw3KWs6Cswmsm7xSm1f55CimqwNZMqcNSHxh1l+gTHc5wTjfTMmPw0Valr/jMjtBj2EC6UP25ooI7kKuJWPqq/sYo7Iz3iT57PjR0jZZi9vCzisu6frm2zu+ci+HHDqGVKwrRNmLU4J4AzEIWhVUGzVJQnfANemhQ4Ojis4Wvlv9MM54DCWkwBEZevYM7svw7NQKbBx8/oqdPgMe3ha5UqafGLh8FdD9hiiTlMx0r2THIwG0br6WVKyJOXlEYIv8+YcCOsqOrRRLQYWzMG4p76urJaEOBgLilrrekybz9Np5s5py7dn6jSczJ7yfF08CWFti5ZjGVC4lFeYcOE21wAM8IdHkwPvtUfY7o0iWLQA/YoHmFQIrt9tTSWl0r5rcQ== sysadmin@o2web.ca"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

test:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD+AhnvJ1BMM0jFCAKSH+NCST+wpz2zwXySiBHN8tZ4kui3ozf//OeBnnGZMOFLurXrzAtll+EE5j+A/iLcT5KIwI4aOgzeVzN5SvOZg5bFfbcR+hCDSiKqgaX+EI5UepBqMyzKwmOVW55R1kbTHiNLkG+tt1v+eABvhR1TauI/33u1pteusVpZ15CcrPZ/NBuxslA2Vji+G7QspiN0ZkQupA8Kr2zBInDrA/Q++bEEoQgYUlBB51jDcpoxGPv4MrV5IDCPe5K6b8GsiXCRzNK8KtXVMlwWl7KpGmkS/91mcdw3KWs6Cswmsm7xSm1f55CimqwNZMqcNSHxh1l+gTHc5wTjfTMmPw0Valr/jMjtBj2EC6UP25ooI7kKuJWPqq/sYo7Iz3iT57PjR0jZZi9vCzisu6frm2zu+ci+HHDqGVKwrRNmLU4J4AzEIWhVUGzVJQnfANemhQ4Ojis4Wvlv9MM54DCWkwBEZevYM7svw7NQKbBx8/oqdPgMe3ha5UqafGLh8FdD9hiiTlMx0r2THIwG0br6WVKyJOXlEYIv8+YcCOsqOrRRLQYWzMG4p76urJaEOBgLilrrekybz9Np5s5py7dn6jSczJ7yfF08CWFti5ZjGVC4lFeYcOE21wAM8IdHkwPvtUfY7o0iWLQA/YoHmFQIrt9tTSWl0r5rcQ== sysadmin@o2web.ca"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

vagrant:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD+AhnvJ1BMM0jFCAKSH+NCST+wpz2zwXySiBHN8tZ4kui3ozf//OeBnnGZMOFLurXrzAtll+EE5j+A/iLcT5KIwI4aOgzeVzN5SvOZg5bFfbcR+hCDSiKqgaX+EI5UepBqMyzKwmOVW55R1kbTHiNLkG+tt1v+eABvhR1TauI/33u1pteusVpZ15CcrPZ/NBuxslA2Vji+G7QspiN0ZkQupA8Kr2zBInDrA/Q++bEEoQgYUlBB51jDcpoxGPv4MrV5IDCPe5K6b8GsiXCRzNK8KtXVMlwWl7KpGmkS/91mcdw3KWs6Cswmsm7xSm1f55CimqwNZMqcNSHxh1l+gTHc5wTjfTMmPw0Valr/jMjtBj2EC6UP25ooI7kKuJWPqq/sYo7Iz3iT57PjR0jZZi9vCzisu6frm2zu+ci+HHDqGVKwrRNmLU4J4AzEIWhVUGzVJQnfANemhQ4Ojis4Wvlv9MM54DCWkwBEZevYM7svw7NQKbBx8/oqdPgMe3ha5UqafGLh8FdD9hiiTlMx0r2THIwG0br6WVKyJOXlEYIv8+YcCOsqOrRRLQYWzMG4p76urJaEOBgLilrrekybz9Np5s5py7dn6jSczJ7yfF08CWFti5ZjGVC4lFeYcOE21wAM8IdHkwPvtUfY7o0iWLQA/YoHmFQIrt9tTSWl0r5rcQ== sysadmin@o2web.ca"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

staging:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD+AhnvJ1BMM0jFCAKSH+NCST+wpz2zwXySiBHN8tZ4kui3ozf//OeBnnGZMOFLurXrzAtll+EE5j+A/iLcT5KIwI4aOgzeVzN5SvOZg5bFfbcR+hCDSiKqgaX+EI5UepBqMyzKwmOVW55R1kbTHiNLkG+tt1v+eABvhR1TauI/33u1pteusVpZ15CcrPZ/NBuxslA2Vji+G7QspiN0ZkQupA8Kr2zBInDrA/Q++bEEoQgYUlBB51jDcpoxGPv4MrV5IDCPe5K6b8GsiXCRzNK8KtXVMlwWl7KpGmkS/91mcdw3KWs6Cswmsm7xSm1f55CimqwNZMqcNSHxh1l+gTHc5wTjfTMmPw0Valr/jMjtBj2EC6UP25ooI7kKuJWPqq/sYo7Iz3iT57PjR0jZZi9vCzisu6frm2zu+ci+HHDqGVKwrRNmLU4J4AzEIWhVUGzVJQnfANemhQ4Ojis4Wvlv9MM54DCWkwBEZevYM7svw7NQKbBx8/oqdPgMe3ha5UqafGLh8FdD9hiiTlMx0r2THIwG0br6WVKyJOXlEYIv8+YcCOsqOrRRLQYWzMG4p76urJaEOBgLilrrekybz9Np5s5py7dn6jSczJ7yfF08CWFti5ZjGVC4lFeYcOE21wAM8IdHkwPvtUfY7o0iWLQA/YoHmFQIrt9tTSWl0r5rcQ== sysadmin@o2web.ca"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD+AhnvJ1BMM0jFCAKSH+NCST+wpz2zwXySiBHN8tZ4kui3ozf//OeBnnGZMOFLurXrzAtll+EE5j+A/iLcT5KIwI4aOgzeVzN5SvOZg5bFfbcR+hCDSiKqgaX+EI5UepBqMyzKwmOVW55R1kbTHiNLkG+tt1v+eABvhR1TauI/33u1pteusVpZ15CcrPZ/NBuxslA2Vji+G7QspiN0ZkQupA8Kr2zBInDrA/Q++bEEoQgYUlBB51jDcpoxGPv4MrV5IDCPe5K6b8GsiXCRzNK8KtXVMlwWl7KpGmkS/91mcdw3KWs6Cswmsm7xSm1f55CimqwNZMqcNSHxh1l+gTHc5wTjfTMmPw0Valr/jMjtBj2EC6UP25ooI7kKuJWPqq/sYo7Iz3iT57PjR0jZZi9vCzisu6frm2zu+ci+HHDqGVKwrRNmLU4J4AzEIWhVUGzVJQnfANemhQ4Ojis4Wvlv9MM54DCWkwBEZevYM7svw7NQKbBx8/oqdPgMe3ha5UqafGLh8FdD9hiiTlMx0r2THIwG0br6WVKyJOXlEYIv8+YcCOsqOrRRLQYWzMG4p76urJaEOBgLilrrekybz9Np5s5py7dn6jSczJ7yfF08CWFti5ZjGVC4lFeYcOE21wAM8IdHkwPvtUfY7o0iWLQA/YoHmFQIrt9tTSWl0r5rcQ== sysadmin@o2web.ca"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>
